.layer1{
    width: 300px;
    height: 694;
    left: 10px;
    padding: 10px; 
    position: absolute;
    background-color: aquamarine;
}
.layer2 {
    width: 600px; 
    height: 674px; 
    padding: 20px; 
    position: absolute;
    margin-left: 24.5%;
    background: rgba(115, 255, 0, 0.849); 

}
.layer3{
    width: 300px;
    height: 694;
    right: 10px;
    padding: 10px; 
    position: absolute;
    background-color: aquamarine;
}
.labe4{
    padding: 20px;
    width: 1300;
    height: 1200;
    margin: auto;
    position: relative;
    background-color: violet;
}
.centertext{
    margin-left: auto;
    margin-right: auto;
    width: 10em
}