.layer1{
    width: 300px;
    height: 694px;
    left: 10px;
    padding: 10px; 
    position: absolute;
    background-color: whitesmoke;
}
.layer2 {
    width: 600px; 
    height: 674px; 
    padding: 20px; 
    position: absolute;
    margin-left: 24.5%;
    background: blanchedalmond;

}
.layer3{
    width: 300px;
    height: 694px;
    right: 10px;
    padding: 10px; 
    position: absolute;
    background-color: whitesmoke;
}
.labe4{
    padding: 20px;
    width: 1300px;
    height: 1200px;
    margin: auto;
    position: relative;
    background-color: BlueViolet;

}
.centertext{
    margin-left: auto;
    margin-right: auto;
    width: 10em
}