@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Russo+One&display=swap');
html {
	font-family: 'Roboto';
}
.nav-list li {
	padding-right: 50px;
}
.nav-list a {
	color: black;
	text-decoration: none;
}
.nav-list a:hover {
	color: cyan;
	transition: 2s;
}
.layer1{
    width: 300px;
    height: 694px;
    left: 10px;
    padding: 10px; 
    position: absolute;
    background-color: whitesmoke;
}
.layer2 {
    width: 600px; 
    height: 674px; 
    padding: 20px; 
    position: absolute;
    margin-left: 24.5%;
    background: blanchedalmond;

}
.layer3{
    width: 300px;
    height: 694px;
    right: 10px;
    padding: 10px; 
    position: absolute;
    background-color: whitesmoke;
}
.labe4{
    padding: 20px;
    width: 1300px;
    height: 1200px;
    margin: auto;
    position: relative;
    background-color: BlueViolet;

}
.centertext{
    margin-left: auto;
    margin-right: auto;
    width: 10em
}
.nav-list{
	list-style-type: none;
	display: flex;
}
li:hover {
	color: aqua;
}
.header {
	width: 100%;
	
}
.conteiner {
	width: 1110px;
	background: green;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.logo {
	font-size: 30px;
	font-weight: 700;

}
.btn {
	background: gray;
	padding: 10px;
	border: 1px solid black;
	border-radius: 36%;
}
.btn:hover {
	background: red;
}
