@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif ;
    --main-font-color-dark: #474747;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}
html{
    font-family: var(--body-font);
    font-size: 20px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}
body {
    margin: 0px;
}
ul {
    list-style: none;
}
.nav li a{
    color: rgba(57, 57, 57, 0.8)
}
.nav li a:hover {
    color: rgb(116, 98, 176);
    transition-duration: 0.7s;
}
main{
    min-height: 100vh;
    background: linear-gradient(to right top, #6A6AAD, #26ADF3);

}
.otherspace{

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10vw;
    padding-left: 10vw;
}
header {
    height: 50px;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.container{
    padding-right: 10vw;
    padding-left: 10vw;
}
.logo {

}
.nav{
    display: flex;
    margin-left: auto;
}
.nav li {
    padding-right: 100px;
}
.nav a {
    color: black;
    text-decoration: none;
}
.nav-list {
    display: flex;
    align-items: center;

}
.lastli{
    padding-right: 0px;
}
a {
    text-decoration: none;
}
.mainwindow{
    background: white;
    min-height: 80vh;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(225, 225, 225,0.7), rgba(225, 225, 225,0.3));
    border-radius: 16px;
    margin-bottom: 10vh;
}
.aboutwindowbase{
    min-height: 100%;
    min-width: 100%;
    display: flex;
}
.aboutwindow,
.aboutwindow2{
    margin-top: 10vh;
    margin-bottom: 10vh;
    background: white;
    min-height: 80vh;
    width: 49%;
    background: linear-gradient(to right bottom, rgba(225, 225, 225,0.7), rgba(225, 225, 225,0.3));
    border-radius: 16px;
}
.aboutwindow2{
    margin-left: auto;
}
.secondwindow{
    margin-top: 10vh;
    margin-bottom: 10vh;
    /*background: white;*/
    min-height: 80vh;
    min-width: 80vw;
    max-width: 80vw;
    /*background: linear-gradient(to right bottom, rgba(225, 225, 225,0.7), rgba(225, 225, 225,0.3));*/
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
.littlewindow1,
.littlewindow2,
.littlewindow3,
.littlewindow4,
.littlewindow5,
.littlewindow6
{
    border-radius: 16px;
    height: 33vh;
    width: 33vw;
    background: linear-gradient(to right bottom, rgba(225, 225, 225,0.7), rgba(225, 225, 225,0.3));
}
.firstcolumn{
    margin-top: 10vh;
    display: flex;
}
.secondcolumn{
    margin-top: 14vh;
    display: flex;
}
.littlewindow2,
.littlewindow5 {
    margin-left: 4vh;
    margin-right: 4vh;
}
.contactus{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
}
.contactusd{
    border-radius: 16px;
    min-width: 100%;
    min-height: 10vh;
    max-height: 10vh;
    margin-top: auto;
    margin-bottom: auto;
    background: linear-gradient(to right bottom, rgba(225, 225, 225,0.7), rgba(225, 225, 225,0.3));
}
.secondwindowbase{
    min-height: 100%;
    min-width: 100%;
    display: flex;
}
.sendbtn{

}

/* Не твоя теретория, не лезь, оно тебя сожрёт! */


html {
    height: 50vh;
    background-color: #2d3436;
    background-image: linear-gradient(315deg,  rgba(225, 225, 225,0.7), rgba(225, 225, 225,0.3));
}

#btn {
    background: #222;
    height: 50px;
    max-width: 250px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 30px;
    font-family: 'Cookie', cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#btn #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#btn:hover {
    background: transparent;
}

#btn:hover #circle {
    height: 50px;
    width: 250px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
}
