@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif ;
    --main-font-color-dark: #474747;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: var(--body-font);
    font-size: 20px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo {

}
header ul {

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(225, 225, 225, 0.50);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 20px;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: rgba(57, 57, 57, 0.8);
    border-radius: 20px;
    background: rgba(225, 225, 225, 0.35);
}
header ul li a:hover, .active
{
    background: #fff;
    color: rgb(116, 98, 176);
    transition-duration: 0.7s;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(to right top, #6A6AAD, #26ADF3);
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #6A6AAD, transparent );
    z-index: 1000;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#portal {
    mix-blend-mode: screen;
}
#text
{
position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;

}
#rick {
    z-index: 10;
}
#expl{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.mainwindow{
    position: relative;
    padding: 100px;
    background: linear-gradient(to right bottom, rgba(225, 225, 225,0.7), rgba(225, 225, 225,0.3));
}
.mainwindow h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: white;
}
.mainwindow p{
    font-size: 1.2em;
    color: white;
}

.otherspace{

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10vw;
    padding-left: 10vw;
}
.lastli{
    padding-right: 0px;
}


.aboutwindowbase{
    min-height: 100%;
    min-width: 100%;
    display: flex;
}
.aboutwindow,
.aboutwindow2{
    margin-top: 10vh;
    margin-bottom: 10vh;
    background: white;
    min-height: 80vh;
    width: 49%;
    background: linear-gradient(to right bottom, rgba(225, 225, 225,0.7), rgba(225, 225, 225,0.3));
    border-radius: 16px;
}
.aboutwindow2{
    margin-left: auto;
}
.secondwindow{
    margin-top: 10vh;
    margin-bottom: 10vh;
    /*background: white;*/
    min-height: 80vh;
    min-width: 80vw;
    max-width: 80vw;
    /*background: linear-gradient(to right bottom, rgba(225, 225, 225,0.7), rgba(225, 225, 225,0.3));*/
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
.littlewindow1,
.littlewindow2,
.littlewindow3,
.littlewindow4,
.littlewindow5,
.littlewindow6
{
    border-radius: 16px;
    height: 33vh;
    width: 33vw;
    background: linear-gradient(to right bottom, rgba(225, 225, 225,0.7), rgba(225, 225, 225,0.3));
}
.firstcolumn{
    margin-top: 10vh;
    display: flex;
}
.secondcolumn{
    margin-top: 14vh;
    display: flex;
}
.littlewindow2,
.littlewindow5 {
    margin-left: 4vh;
    margin-right: 4vh;
}
.contactus{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
}
.contactusd{
    display: flex;
    align-items: center;
    /*flex-direction: column;*/
    border-radius: 16px;
    min-width: 100%;
    min-height: 10vh;
    max-height: 10vh;
    margin-top: 10vh;
    margin-bottom: auto;
    background: linear-gradient(to right bottom, rgba(225, 225, 225,0.7), rgba(225, 225, 225,0.3));
}
.secondwindowbase{
    min-height: 100%;
    min-width: 100%;
    display: flex;
}
.emailbox{
    margin-left: 3vh;
    margin-right: 20vh;
    background: transparent;
    border-color: transparent;
    max-width:  80vh;
    font-size: 60px;
    font-color: #474747;
    outline-width: 0;
}
footer {
    justify-content: space-between;
    display: flex;
    left: 0;
    background: linear-gradient(to right bottom, rgba(225, 225, 225,0.7), rgba(225, 225, 225,0.3));
    width: 100%;
}
footer a i {
    color: black;
    padding: 6px 6px;
}

footer a i:hover{
    padding: 6px 6px;
    color: black;
    background: white;
    border-radius: 35px;
}

footer div{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
}

.focus{
    right: 0;
    padding-right: 20px;
}






/* Не твоя теретория, не лезь, оно тебя сожрёт! */

#btn {
    background: linear-gradient(to right bottom, rgba(225, 225, 225,0.7), rgba(225, 225, 225,0.3));
    height: 75px;
    width: 300px;
    border: none;
    border-radius: 10px;
    color:  #474747;
    font-size: 40px;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


#btn:hover {
    color:  white;
    background: black; /* Меняй меняй, я ж хуету сделал*/
}
